
@font-face {
	font-family: KorolevMedium;
	src: url(KorolevMedium.woff);
 }
 @font-face {
	font-family: KorolevLight;
	src: url(KorolevLight.woff);
 }
body {
	margin: 0;
	padding: 0;
  }
  
  .container {
	
	width: 30%;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
	
	
  }

  .container h2{
	font-family:'KorolevMedium';
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 80px;
	color: rgb(255, 217, 0);
	top: 45px;
  }
  .container p{
	font-family:'KorolevLight';
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 22px;
	font-weight: lighter;
	color: rgb(255, 255, 255);
	
  }
  
  .Loading {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 10px;
	background: #ffffff7c;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
	border-radius: 4px;
	overflow: hidden;
  }
  
	#bar{
	content: '';
	position: absolute;	
	left: 0;
	width: 30%;
	background-color: white;
	height: 100%;
	border-radius: 4px;
  }

